<div class="blobContainer">
    <div class="blob large top-right light"></div>
    <div class="blob medium bottom-right dark"></div>
    <div class="blob large top-left shape">
        <img src="/media/CookieShape.svg" alt="">
    </div>
    <div class="blob small bottom-left dark"></div>
    <img src="/media/banner.svg" id="banner" alt="Move transit app's banner">
</div>
