<footer>
    <div id="footerWrap">
        <div class="shape">
            <img src="/media/CookieShape.svg" alt="">
        </div>
        <div class="hc">
            <div class="vc">
                <p class="logo">Move</p>
                {% for entry in collections.destination | reverse %}
                {%- if entry.data.title != title %}
                <a class="entry" href="{{entry.url}}">{{ entry.data.title }}</a>
                {%- endif %}
                {% endfor %}
            </div>
            <div class="vc jsb">
                <p>Made with ❤️ with 11ty</p>
                <div class="vc">
                    <p class="subtext">Follow Move</p>
                    <div class="hc ac" id="socials">
                        {% for item in socials %}
                        <a href="{{ item.link }}" title="{{ item.id }}"><i class="fa-brands {{ item.icon }}"></i></a>
                        {% endfor %}
                    </div>
                </div>
                <span class="subtext" id="copyright">© FatDawlf, 2025</span>
            </div>
        </div>
    </div>
</footer>
