<div class="composition frame" id="unifyComposition">
    <div class="logoContainer gc">
        <img class="shape" src="/media/logo.svg" alt="Move transit's logo as seen in the public transit app">
        <img class="arrow" src="/media/logo-arrow.svg" alt="">
    </div>
    <img src="/media/mobile_frame.png" loading="lazy" alt="">
</div>
