<meta property="og:title" content="Move - {{ title }}">
<meta property="og:type" content="article">
<meta property="og:image" content="https://movetransit.app/media/thumbs/{{ thumbnail }}.png">
<meta property="og:url" content="https://movetransit.app/">
<meta property="og:description" content="{{ description or page.excerpt }}">

<meta name="twitter:card" content="summary_large_image">
