<div class="composition" id="screenshotComposition" class="gc">
    <img class="frame" src="/media/screenshots/1.png" loading="lazy" alt="A screenshot of the Move transit app displaying the time estimates of Vectalia Alicante">
    <img src="/media/mobile_frame.png" loading="lazy" alt="">
</div>
