    <div class="blobContainer">
        <div class="blob large top-right light"></div>
        <div class="blob medium top-left dark"></div>
        <div class="blob medium bottom-right dark"></div>
    </div>
