<footer>
    <div class="shape">
        <img src="/media/CookieShape.svg" alt="">
    </div>
    <div class="hc">
        <div class="vc">
            <p class="logo">Move</p>
            <a href="/about/">About</a>
            <a href="/privacy/">Privacy policy</a>
            <a href="/changelog/">Changelog</a>
            <a href="https://twitter.com/movetransit">Twitter</a>
        </div>
        <div class="vc jsb">
            <p>Made with ❤️ with 11ty</p>
            <span id="copyright">© FatDawlf, 2025</span>
        </div>
    </div>
</footer>
