<nav>
    <div class="hc ac jsb reflow">
    <a class="logo" href="/">Move</a>
    <div class="hc ac jc fw">
        <a class="entry" href="/about/">About</a>
        <a class="entry" href="/changelog/">Changelog</a>
        <a class="accentButton" href="/#sign-up">Sign up for the waitlist</a>
    </div>
    </div>
</nav>
