---
layout: ./main.njk
isAbout: true
---

<div class="container">
    
    <img src="../media/banner.svg" alt="">
    
    <heading-anchors selector="h1,h2">
        {{ content | safe }}
    </heading-anchors>
</div>

<div id="valueCards" class="hc reflow"></div>
