---
layout: ./main.njk
isAbout: true
---

<div class="container">
    
    <img src="/media/banner.svg" alt="Move transit's banner art, containing an abstract bus">
    
    <heading-anchors selector="h1,h2">
        {{ content | safe }}
    </heading-anchors>
</div>
