---
layout: ./main.njk
isHero: true
---

<div class="heroContainer oh gc" id="hero">
    <div class="vc ac">
        <h1 id="heroLogo">Move</h1>
        <p>The universal public transit app</p>
        <a id="heroCTA" class="accentButton" href="#sign-up">Sign up for the wait-list!</a>
    </div>
    
    {% include "./components/blobs.njk" %}

</div>

<section class="gc" id="features">
    <div class="hc ac reflow jse card">
        <div class="vc ac">
            <div class="hc oh" id="featureContainer">
                {{ content | safe }}
            </div>
            <div id="featureIndicator" class="hc"></div>
        </div>
        <div class="composition frame" id="unifyComposition">
            <div class="logoContainer gc">
                <img class="shape" src="/media/logo.svg" alt="Move transit's logo as seen in the public transit app">
                <img class="arrow" src="/media/logo-arrow.svg" alt="">
            </div>
            <img src="/media/mobile_frame.png" loading="lazy" alt="">
        </div>
    </div>
</section>

<section class="gc" id="supportedProviders">
    <div class="vc">
    <h2>Supported Providers</h2>
    <div class="hc jc" id="providerScroller">
            {% for provider in providers %}
            <img src="/media/providers/{{ provider.id }}.png" alt="{{ provider.name }}" title="{{ provider.name }}" loading="lazy">
            {% endfor %}
            {% for provider in providers %}
            <img src="/media/providers/{{ provider.id }}.png" alt="{{ provider.name }}" title="{{ provider.name }}" loading="lazy">
            {% endfor %}
            {% for provider in providers %}
            <img src="/media/providers/{{ provider.id }}.png" alt="{{ provider.name }}" title="{{ provider.name }}" loading="lazy">
            {% endfor %}
            {% for provider in providers %}
            <img src="/media/providers/{{ provider.id }}.png" alt="{{ provider.name }}" title="{{ provider.name }}" loading="lazy">
            {% endfor %}
        </div>    
    </div>
</section>

<section id="sign-up" class="gc">
    <div class="hc ac reflow jse card">
        <p>Sign-ups coming soon!</p>
        <!-- <form id="signForm"> -->
        <!--     <div class="vc ac"> -->
        <!--         <span>Sign up for the wait-list</span> -->
        <!--         <input type="hidden" name="_gotcha" style="display:none !important"> -->
        <!--         <div class="hc"> -->
        <!--             <input id="email" type="email" name="email" autocomplete="email" placeholder="Email address" -->
        <!--                 required> -->
        <!--             <button id="submit" type="submit" value="Submit"> -->
        <!--                 <img src="media/logo-arrow.svg"> -->
        <!--             </button> -->
        <!--         </div> -->
        <!--         <span class="footnote">It must be liked to your Google Play account</span> -->
        <!--     </div> -->
        <!-- </form> -->
        <div class="composition" id="screenshotComposition" class="gc">
            <img class="frame" src="/media/screenshots/1.png" loading="lazy" alt="A screenshot of the Move transit app displaying the time estimates of Vectalia Alicante">
            <img src="/media/mobile_frame.png" loading="lazy" alt="">
        </div>
    </div>
</section>
