---
layout: ./main.njk
isHero: true
---

<div class="heroContainer oh gc" id="hero">
    <div class="vc jc">
        <h1 id="heroLogo">{{ title }}</h1>
        
        {{ content | safe }}
        
        <a id="heroCTA" class="accentButton" href="/">Go back!</a>
    </div>
    <div class="blobContainer">
        <div class="blob large top-right light"></div>
        <div class="blob medium top-left dark"></div>
        <div class="blob medium bottom-right dark"></div>
    </div>
</div>
