---
layout: ./main.njk
style: article
---

<div class="container">
    <h1>{{ title }}</h1>
    {{ content | safe }}
</div>

<script src="/src/main.js"></script>
<script src="/src/links.js"></script>
