<footer>
    <div class="shape">
        <img src="/media/CookieShape.svg" alt="">
    </div>
    <div class="hc">
        <p class="logo">Move</p>
        <p>Made with ❤️ with 11ty</p>
    </div>
    <div class="vc">
        <!-- <a href="/about/">About</a> -->
        <a href="/privacy/">Privacy policy</a>
        <a href="/changelog/">Changelog</a>
        <a href="https://twitter.com/movetransit">Twitter</a>
    </div>
</footer>
