---
layout: ./main.njk
isHero: true
---

<div class="heroContainer oh gc" id="hero">
    <div class="vc">
        <h1 id="heroLogo">Move</h1>
        <p>The universal transit app</p>
        <a id="heroCTA" class="accentButton" href="#sign-up">Sign up for the wait-list!</a>
    </div>
    <div class="blobContainer">
        <div class="blob large top-right light"></div>
        <div class="blob medium top-left dark"></div>
        <div class="blob medium bottom-right dark"></div>
    </div>
</div>

<section class="gc" id="features">
    <div class="hc reflow jse card">
        <div class="vc">
            <div class="hc oh" id="featureContainer">
                <div class="featureEntry vc" id="feature1">
                    <h2>
                        Never miss a bus again
                    </h2>
                    <p>
                        Move is fast, giving you the information of your favourite stops as fast as possible so you
                        can always be on time.
                    </p>
                </div>
                <div class="featureEntry vc" id="feature2">
                    <h2>
                        All in one place
                    </h2>
                    <p>
                        Traveling often?<br>
                        Move unifies all of your transit services in one place so you can just plan your transfers.
                    </p>
                </div>
                <div class="featureEntry vc" id="feature3">
                    <h2>
                        Constantly growing
                    </h2>
                    <p>
                        Features are constantly being added and planned for Move. Providers are also being added to
                        support more locations near you!
                    </p>
                </div>
            </div>
            <div id="featureIndicator" class="hc"></div>
        </div>
        <div class="composition frame" id="unifyComposition">
            <div class="logoContainer gc">
                <img class="shape" src="/media/logo.svg" alt="Move's logo'">
                <img class="arrow" src="/media/logo-arrow.svg" alt="Move's logo'">
            </div>
            <img src="/media/mobile_frame.png" alt="">
        </div>
    </div>
</section>

<section id="sign-up" class="vc jc">
    <div class="hc reflow jse card">
        <p>Sign-ups coming soon!</p>
        <!-- <form id="signForm"> -->
        <!--     <div class="vc ac"> -->
        <!--         <span>Sign up for the wait-list</span> -->
        <!--         <input type="hidden" name="_gotcha" style="display:none !important"> -->
        <!--         <div class="hc"> -->
        <!--             <input id="email" type="email" name="email" autocomplete="email" placeholder="Email address" -->
        <!--                 required> -->
        <!--             <button id="submit" type="submit" value="Submit"> -->
        <!--                 <img src="media/logo-arrow.svg"> -->
        <!--             </button> -->
        <!--         </div> -->
        <!--         <span class="footnote">It must be liked to your Google Play account</span> -->
        <!--     </div> -->
        <!-- </form> -->
        <div class="composition" id="screenshotComposition" class="gc">
            <img class="frame" src="/media/screenshots/1.png" alt="">
            <img src="/media/mobile_frame.png" alt="">
        </div>
    </div>
</section>
