<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="darkreader-lock">

    <title>Move - {{ title }}</title>

    <link rel="preconnect" href="/styles">
    <link rel="preconnect" href="/media">
    <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/styles/{{ style }}.css">
</head>

<body>
    {% if hero not in style %}
    {% include "./nav.njk" %}
    {% endif %}

    {{ content | safe }}

    {% include "./footer.njk" %}
</body>
