<nav>
    <a class="logo" href="/">Move</a>
    <div class="hc">
        <a href="/privacy/">Privacy policy</a>
        <a href="/changelog/">Changelog</a>
        <a class="accentButton" href="/#sign-up">Sign up for the waitlist</a>
    </div>
</nav>
