@media only screen and (width < 427px) {
    .container {
        padding-top: calc(var(--margin) * 7) !important;
    }
}

@media only screen and (427px < width < 950px) {
    .container {
        padding-top: calc(var(--margin) * 6) !important;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    background-color: rgba(from var(--primary-brand) r g b / 0.5);
}

.container {
    width: min(90%, 80ch);
    padding: calc(var(--margin) / 2);
    padding-top: calc(var(--margin) * 4);
}

.card {
    width: 100%;
    padding: var(--margin);
    gap: calc(var(--margin) / 2);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
}

h1 {
    --text-size: var(--text-large);
    margin: 0;
    margin-bottom: var(--margin);
}

h2 {
    --text-size: var(--text-medium);
    margin: calc(var(--margin) / 1.5);
}

h3 {
    --text-size: var(--text-medium);
    margin: calc(var(--margin) / 1.75);
}

p {
    --text-size: var(--text-small);
    margin: calc(var(--margin) / 1);
}

ul, ol {
    margin: 0 calc(var(--margin) / 2);

    &>* {
        margin: calc(var(--margin) / 2) 0;
        &>ul, &>ol {
            margin: 0 !important;
        }
    }
}

img {
    width: 100%;
    border-radius: var(--margin);
}

.ha-placeholder, .ha {
    transition-property: opacity;
    transition-duration: 250ms;
}
