@import url("common.css");

footer {
    width: calc(100% - var(--margin));
    background-color: var(--primary-shadow);

    padding: calc(var(--margin) / 4) calc(var(--margin) / 2);
    margin-top: var(--margin);
    
    &>.vc {
        margin: calc(var(--margin) / 2) var(--margin);
        align-items: start;

        & a {
            text-decoration: none;
        }
    }

    &>.hc {
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
}
