@import url("common.css");
@import url("nav.css");
@import url("footer.css");

html:not([data-scroll='0']) {
    .logo {
        opacity: 1 !important;
    }
}

nav>.logo {
    opacity: 0;
}

.heroContainer {
    width: 100dvw;
    height: 100dvh;
}

#heroLogo {
    --text-size: var(--text-hero);
    font-family: 'Fredoka';
    font-size: var(--text-size);
    font-weight: 600;
    letter-spacing: -0.2px;
}

#heroCTA {
    margin-top: var(--margin);
}

p {
    --text-size: var(--text-small);
    font-size: var(--text-size);
}

.blobContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100dvw;
    height: 100dvh;

    filter: blur(80px);
}

.blob {
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1;

    &.small {
        width: 30%;
    }

    &.medium {
        width: 40%;
    }

    &.large {
        width: 50%;
    }

    &.top-right {
        top: 0;
        right: 0;
        translate: 50% -50%;
    }

    &.bottom-right {
        bottom: 0;
        right: 0;
        translate: 50% 50%;
    }

    &.top-left {
        top: 0;
        left: 0;
        translate: -50% -50%;
    }

    &.bottom-left {
        bottom: 0;
        left: 0;
        translate: -50% 50%;
    }

    &.light {
        background-color: var(--primary-brand);
    }

    &.dark {
        background-color: var(--primary-shadow);
    }
}


@property --blur {
    syntax: "<size>";
    inherits: false;
    initial-value: 0px;
}

.logoContainer {
    animation-timeline: view(y 60% 0%);
    animation-name: appear;
    animation-duration: 1ms;
    animation-fill-mode: forwards;
    filter: blur(var(--blur));
    scale: 0;

    &>.shape {
        animation: rotate 6s linear forwards infinite;
    }

    &>.arrow {
        filter: drop-shadow(0px 10px rgb(from black r g b / 0.25));
    }

    &>img {
        position: absolute;
    }
}

@keyframes rotate {
    from {
        rotate: 0turn;
    }

    to {
        rotate: 1turn;
    }
}

@keyframes appear {
    from {
        --blur: 20px;
        scale: 0;
    }
    to {
        --blur: 0px;
        scale: 1;
    }
}

form {
    --factor: 3;

    max-width: 80ch;
    margin: var(--margin) !important;

    & p, & span {
        align-self: flex-start
    }

    & .hc {
        gap: 0;
    }
    
    & input#email{
        border: 2px solid var(--primary-brand);
        border-right: none;
        border-radius: calc(var(--margin) / 2) 0 0 calc(var(--margin) / 2);

        padding: calc(var(--margin) / var(--factor));
        margin: 0;
    }
    
    & button#submit{
        border: 2px solid var(--primary-brand);
        border-left: none;
        border-radius: 0 calc(var(--margin) / 2) calc(var(--margin) / 2) 0;

        padding: calc(var(--margin) / var(--factor));
        margin: 0;

        background-color: var(--primary-shadow);
        transition-duration: 200ms;

        &:hover {
            background-color: var(--primary-brand);
        }
    }

    & .footnote {
        opacity: .4;
    }
}

footer {
    margin-top: 0 !important;
}
