@import url("common.css");
@import url("nav.css");
@import url("footer.css");

html:not([data-scroll='0']) {
    .logo {
        opacity: 1 !important;
    }
}

nav>.logo {
    opacity: 0;
}

.heroContainer {
    width: 100dvw;
    height: 100dvh;

    display: grid;
    place-items: center;
}

#heroLogo {
    --text-size: var(--text-hero);
    font-family: 'Fredoka';
    font-size: var(--text-size);
    font-weight: 600;
    letter-spacing: -0.2px;
}

p {
    --text-size: var(--text-small);
    font-size: var(--text-size);
}

.blobContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100dvw;
    height: 100dvh;

    filter: blur(80px);
}

.blob {
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1;

    &.small {
        width: 30%;
    }

    &.medium {
        width: 40%;
    }

    &.large {
        width: 50%;
    }

    &.top-right {
        top: 0;
        right: 0;
        translate: 50% -50%;
    }

    &.bottom-right {
        bottom: 0;
        right: 0;
        translate: 50% 50%;
    }

    &.top-left {
        top: 0;
        left: 0;
        translate: -50% -50%;
    }

    &.bottom-left {
        bottom: 0;
        left: 0;
        translate: -50% 50%;
    }

    &.light {
        background-color: var(--primary-brand);
    }

    &.dark {
        background-color: var(--primary-shadow);
    }
}


@property --blur {
    syntax: "<size>";
    inherits: false;
    initial-value: 0px;
}

.logoContainer {
    position: absolute;
    left: 50%;
    display: grid;
    place-items: center;
    animation-timeline: scroll(block);
    animation-name: appear;
    animation-timing-function: ease-out;
    filter: blur(var(--blur));

    &>.shape {
        animation: rotate 6s linear forwards infinite;
    }

    &>.arrow {
        filter: drop-shadow(0px 10px rgb(from black r g b / 0.25));
    }

    &>img {
        position: absolute;
    }
}

@keyframes rotate {
    from {
        rotate: 0turn;
    }

    to {
        rotate: 1turn;
    }
}

@keyframes appear {
    from {
        --blur: 40px;
        scale: 0;
        bottom: 0;
    }
    50%, to {
        --blur: 0px
        scale: 1;
        bottom: 50%;
    }
}

footer {
    margin-top: 0 !important;
}
